*{
margin: 0;
padding: 0;
}
body{
    background-color: #4a4946;
    color: white;
}


#simple-todo {
height: 528px;
width: 500px;
border: 2px solid white;
border-radius: 2px;
float: left;
position: fixed;
}
.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#btnCenter{
    height: 16px;
    width: 16px;
    border: 2px solid white;
    text-align: center;
    line-height: 16px;
    position: relative;
    left: 482px;
    top:-2px;
}
#head {
    margin-left: 10px;
    margin-top: 6px;
    width: 480px;
    height: 36px;
    background-color: gray;
    text-align: center;
    line-height: 36px;
    border-radius: 2px;
    float: left;
}

#list {
    width: 480px;
    height: 400px;
    background-color: gray;
    border-radius: 2px;
    margin: 10px;
    float: left;
    overflow: scroll;
}
li{
    display: block;
    position: relative;
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 4px;
    padding-left: 5px;
}
.btnDel {
    display: inline-block;
    position: relative;
    top: 2px;
    height: 10px;
    width: 10px;
    margin-right: 4px;
    color: #4a4946;
    border: 2px solid white;
    border-radius: 100px;
    text-align: center;
    text-align: center;
}

#todo-form {
    position: relative;
    width: 480px; 
    margin-left: 10px; 
    height: 34px;
    background-color: gray;
    border-radius: 2px;
    float: left;
}

#todo-input {
    position: relative;
    float: left;
    margin-left: 4px;
    height: 30px;
    width: 444px;
    margin-top: 2px;
    overflow: hidden;

}

.add-button {
    position: relative;
    float: left;
    height: 34px;
    width: 30px;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
}

    .add-button:hover {
        cursor: pointer;
        background-color: white;
        color: gray;
        border-radius: 4px;
    }
    li:hover {
        cursor: default;
    }
    #head:hover {
        cursor: default;
    }
    #btnCenter:hover {
        cursor: pointer;
        background-color: white;
        color: gray;
        border-radius: 4px;
    }
    .btnDel:hover {
        background-color: #4a4946;
    }
    [contentEditable=true]:empty:not(:focus):before {
        content: attr(data-placeholder);
      }