*{
margin: 0;
padding: 0;
}
body{
    background-color: #4a4946;
    color: white;
}

.simple-todo {
height: 500px;
width: 500px;
border: 2px solid white;
float: left;
}
#head {
    margin-left: 10px;
    margin-top: 10px;
    width: 480px;
    background-color: gray;
    text-align: center;
    border-radius: 2px;
    float: left;
}

#list {
    width: 480px;
    height: 400px;
    background-color: gray;
    border-radius: 2px;
    margin: 10px;
    float: left;
}
li{
    display: block;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 4px;
    padding-left: 5px;
}
.btnDel {
    height: 25px;
    width: 25px;
    margin-right: 15px;
    color: #4a4946;
}


#todo-form {
    width: 480px; 
    margin-left: 10px; 
    height: 34px;
    background-color: gray;
    border-radius: 2px;
    float: left;
}
#add {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    color: #4a4946;
}
#todo-input {
    height: 22px;
    width: 435px;
    margin-top: 4px;

}


    button:hover {
        cursor: pointer;
        font-weight:bolder;
    }
    li:hover {
        cursor: default;
    }
    #head:hover {
        cursor: default;
    }